.gradient-bg {
    background: linear-gradient(-45deg, #7f5af0, #2cb67d, #00c6ff, #6ea1ff);
    background-size: 400% 400%;
    animation: gradientShift 12s ease infinite;
}

@keyframes gradientShift {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

.form-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}
.form-group {
  margin-bottom: 20px;
}
.form-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}
.form-group input, .form-group select, .form-group textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-family: 'Fira Code', monospace;
}
.form-group textarea {
  height: 100px;
  resize: vertical;
}
.btn-primary {
  background: linear-gradient(-45deg, #4f6fb6, #127dc5, #00c6ff, #6ea1ff);
  animation: gradientShift 12s ease infinite;

  color: white;
  padding: 12px 24px;
  border: none;
  border-radius: 5.5px;
  font-size: 16px;
  width: 55%;
}

body {
  margin: 0;
  min-height: 100vh; 
  display: flex;
  flex-direction: column; 
  font-family: 'Fira Code', monospace;
  background-color: #111;
  color: #eee;
}

.container {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start; 
  align-items: center;
  padding: 20px;
}

.body-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start; 
  align-items: center;
  padding: 20px;
}

h1 {
  font-size: 3.5rem;
  margin-bottom: 20px;
}

.title {
  font-size: 5.5rem;
  margin-bottom: 1vh;
}

.subtitle {
  font-size: 1.5rem;
  margin-bottom: 1vh;
}

.circle-container {
  position: absolute;
  width: 300px;
  height: 300px;
  margin: 50px auto;
  border: 2px dashed #ffffff;
  border-radius: 50%;
  animation: rotateCircle 10s linear infinite;
}
/* 
.circle-btn {
  position: absolute;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
} */

.center_xy {
  display: flex;
  justify-content: center;
  align-items: center;  
  width: 100%;
  height: 100%;           
  /* border: 1px solid #ccc;  */
}

.circle-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;  
  width: 300px;
  height: 300px; 
  margin: 0 auto;        
  /* border: 1px solid #ccc;  */
}

@keyframes rotateCircle {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
